<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal">
    <div class="mb-3 ">
      <%= link_to "", :back, class: "btn btn-close btn-sm" %>
    </div>

    <% if current_user.social_security_number || current_user.business_owner? %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <% if current_user.client? && current_user.social_security_number.nil? %>
          <div class="form-floating mb-3">
            <%= f.text_field :social_security_number, autofocus: true, class: "form-control", "data-controller": "social-security-number" %>
            <%= f.label :social_security_number, class: "form-label" %>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>
      <h3>Cancel my account</h3>

      <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

      <%= link_to "Back", :back %>
    <% end %>

  </div>
<% end %>
