<h3 class="text-center mt-5">Buffets</h3>

<% if @results.any? %>
  <div id="search-results" class="text-center">
    <% @results.each do |buffet| %>
      <%= link_to buffet, class: "d-block" do %>
        <%= content_tag(:span, "=>") %> |
        <%= content_tag(:span, buffet.social_name) %> |
        <%= content_tag(:span, buffet.city) %> |
        <%= content_tag(:span, buffet.state) %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @buffets.any? %>
  <div id="buffets" class="text-center">
    <% @buffets.each do |buffet| %>
      <%= link_to buffet, class: "d-block" do %>
        <%= content_tag(:span, buffet.social_name) %> |
        <%= content_tag(:span, buffet.city) %> |
        <%= content_tag(:span, buffet.state) %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @buffets.empty? && @results.empty? %>
  <p class="text-center">Não existem buffets cadastrados</p>
<% end %>

