<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>
<div class="card border-dark mx-auto mb-5 mt-5" style="max-width: 30rem;">
  <div class="card-body">
    <%= render "status_tag" %>
    <p class="bold text-center"><%= @order.code %></p>
    <p class="text-center bold"><%= @order.buffet.social_name %> - <%= @order.event_type.name %></p>
    <p><span class="bold">Observações do cliente: </span><%= @order.event_details %></p>
    <p><span class="bold">Data do Evento: </span><%= I18n.localize(@order.event_date) %></p>
    <p><span class="bold">Quantidade de Convidados: </span><%= @order.guests_estimation %></p>
    <p><span class="bold">Demandante: </span><%= @order.user.name %></p>
    <% if @order.payment_method_id? %>
      <p><span class="bold">Método de Pagamento: </span><%= @order.payment_method.name %></p>
    <% end %>
    <% if @order.charge_fee? %>
      <p><span class="bold">Taxa Extra: </span>R$<%= @order.extra_fee %></p>
    <% end %>
    <% if @order.grant_discount? %>
      <p><span class="bold">Desconto: </span>R$<%= @order.discount %></p>
    <% end %>
    <% if @order.charge_fee? || @order.grant_discount? %>
      <p><span class="bold">Detalhes do Orçamento: </span><%= @order.budget_details %></p>
    <% end %>
    <% if @order.due_date? %>
      <p><span class="bold">Data de Vencimento: </span><%= I18n.localize(@order.due_date) %></p>
    <% end %>
    <% if @order.budget? %>
      <p><span class="bold">Orçamento: </span>R$<%= @order.budget %></p>
    <% end %>
    <% unless @order.canceled? %>
      <%= button_to "Cancelar Evento", canceled_order_path(@order), class: "btn btn-primary mt-3" %>
    <% end %>
    <% if current_user.client? && @order.approved? && (@order.due_date.future? || @order.due_date.today?) %>
      <%= button_to "Confirmar Evento", confirmed_order_path(@order), class: "btn btn-primary" %>
    <% end %>

    <% if current_user.business_owner? && @order.messages.empty? %>
      <%= link_to start_chat_order_messages_path(@order), class: "d-block mt-3" do %>
        <%= image_tag "chat_message_icon", size: "35", class: "me-2" %>
        <span>Iniciar Conversa com Cliente</span>
      <% end %>
    <% elsif @order.messages.any? %>
      <%= link_to order_messages_path(@order), class: "d-block mt-3" do %>
        <%= image_tag "chat_message_icon", size: "35", class: "me-2" %>
        <span>Acessar chat</span>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "same_event_date" %>
