<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>
<div class="card border-dark mx-auto mb-5 mt-5" style="max-width: 30rem; background-color: white;">
  <div class="card-body">  
    <p class="bold text-center"><%= @order.code %></p>
    <p class="text-center bold"><%= @order.buffet.social_name %> - <%= @order.event_type.name %></p>
    <p><span class="bold">Observações do cliente: </span><%= @order.event_details %></p>
    <p><span class="bold">Data do Evento: </span><%= I18n.localize(@order.event_date) %></p>
    <p><span class="bold">Quantidade de Convidados: </span><%= @order.guests_estimation %></p>
    <p><span class="bold">Demandante: </span><%= @order.user.name %></p>
    <% if @order.payment_method_id? %>
      <p><span class="bold">Método de Pagamento: </span><%= @order.payment_method.name %></p>
    <% end %>
    <% if @order.charge_fee? %>
      <p><span class="bold">Taxa Extra: </span>R$<%= @order.extra_fee %></p>
    <% end %>
    <% if @order.grant_discount? %>
      <p><span class="bold">Desconto: </span>R$<%= @order.discount %></p>
    <% end %>
    <% if @order.charge_fee? || @order.grant_discount? %>
      <p><span class="bold">Detalhes do Orçamento: </span><%= @order.budget_details %></p>
    <% end %>
    <% if @order.due_date? %>
      <p><span class="bold">Data de Vencimento: </span><%= I18n.localize(@order.due_date) %></p>
    <% end %>
    <% if @order.budget? %>
      <p><span class="bold">Orçamento: </span>R$<%= @order.budget %></p>
    <% end %>
    <% if current_user.client?  %>
      <button type="button" class="btn btn-lg btn-warning" data-bs-toggle="popover" data-bs-title="Status do Pedido" data-bs-content="Aguardando avaliação do Buffet :)">
        <%= @order.humanized_status %> 
      </button>
    <% elsif current_user.business_owner? %>
      <%= link_to @order.humanized_status, edit_order_path(@order) %>
    <% end %>
    <% if current_user.client? && @order.approved? && (@order.due_date.future? || @order.due_date.today?) %>
      <%= button_to "Confirmar Evento", confirmed_order_path(@order), class: "btn btn-primary" %>
    <% elsif current_user.client? && @order.approved? && @order.due_date.past? %>
      <p class="bold text-danger">O prazo de confirmação deste pedido passou :(</p>
    <% end %>
  </div>
</div>


<% if @same_date_orders.any? %>
  <div class="alert alert-primary d-flex align-items-center" >
    <%= image_tag "calendar_date_event_icon", size: "35", class: "me-2" %>
    <div>
      Existe outro evento marcado para a mesma data. Confira: 
      <% @same_date_orders.each do |order| %>
        <%= link_to order, class: "d-block" do %>
          <%= content_tag(:span, order.code) %> | 
          <%= content_tag(:span, order.event_type.humanized_category) %> | 
          <%= content_tag(:span, order.user.name) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
