<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to "Cadê Buffet?", root_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% if user_signed_in? && current_user.business_owner? && current_user.buffet.present? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Buffets
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Todos Buffets", buffets_path, class: "dropdown-item" %></li>
              <li><%= link_to "Ver meu Buffet", buffet_path(current_user.buffet), class: "dropdown-item" %></li>
            </ul>
          </li>
        <% elsif user_signed_in? && current_user.business_owner? && current_user.buffet.nil? %>
          <li class="nav-item">
            <%= link_to "Registrar Buffet", new_buffet_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Buffets", buffets_path, class: "nav-link" %>
          </li>
        <% end %>

      </ul>

      <%= form_tag "/buffets", method: "GET", class: "d-flex mx-auto" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Pesquisar Buffet", class: "form-control mx-2" %>
        <%= submit_tag "Pesquisar", class: "btn btn-secondary" %>
      <% end %>

      <div class="d-flex">
        <% if user_signed_in? %>
          <div class="me-4 mt-1">
            <span class="d-block lh-1"><%= current_user.email %></span>
            <span class="d-block lh-1"><%= current_user.humanized_role %></span>
          </div>
          <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-success" %>
        <% else %>
          <%= link_to "Entrar", new_user_session_path, class: "btn btn-success", data: { turbo_frame: "modal" } %>
        <% end %>
      </div>

    </div>
  </div>
</nav>
