<!DOCTYPE html>
<html>
  <head>
    <title>BuffetSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield :head %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= turbo_frame_tag "modal" %>
    <div class="container">
      <p class="text-center"><%= notice %></p>
      <p class="text-center"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
